{% extends "bootstrap/base.html" %}
{% block title %} 人生苦短、我用python{% endblock title %}
{%- block styles %}
{{super()}}
 <link href="{{url_for('static',filename='css/mycss.css',_external=True)}}" rel="stylesheet">
{%- endblock styles %}

{% block navbar %}
 <!-- 导航栏开始 -->
 <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">个人博客</a>
        </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li ><a href="#">技术杂谈</a></li>
            <li><a href="#">人生感悟</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Python <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
            <li><a href="/book/">小说频道</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"> 
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li> 
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li> 
      </ul> 
    </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- 底部 -->

<div id="footer">
    <div class="footer-c">
        <div class="footer-nav">
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">广告服务</a></li>
                <li><a href="#">免责声明</a></li>
            </ul>
        </div>
        <p>© 2012-2016 jqhtml.com · 湘ICP备16001111号-1  · 托管于 阿里云 & 又拍云</p>
        <p>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?8319b3b0fd09fd3d636159d4e490cdd8";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
        </p>
        <script>
      // SyntaxHighlighter.defaults['html-script'] = false;
      SyntaxHighlighter.all();
      </script>
    </div>
</div>
{% endblock %}


