{% extends "base.html" %}
{% block styles %}
{{super()}}
<link href="{{url_for('static',filename='css/xscss.css',_external=True)}}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
            <!-- row begin -->
        <div class="col-md-2">
            <div class="box_cons">
                <div class="panel panel-success">
                    <div class="panel-heading">热门小说</div>
                    <ul class="list-group">
                        {% for fiction in fictions %}
                        <li class="list-group-item"><a href="/book/list/{{fiction.fiction_id}}" class="pull-left">{{fiction.fiction_name}}</a><p class="text-right">{{fiction.fiction_author}}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
          
        <div class=" col-md-9">
        
            <div class="box_con">
                <div class="list-group-item">
                    <div class="media">
                        <a href="#" class="pull-left"><img src="{{fiction.fiction_img}}" width="160px" height="200px" /></a>
                        <div class="media-body">
                            <div ><h3><b>{{fiction.fiction_name}}</b></h3></div>
                            <div ><p>作&nbsp;&nbsp;&nbsp;&nbsp;者：{{fiction.fiction_author}}</p></div>
                            <div >
                                <p class="pull-left">{{fiction.update}} &nbsp;&nbsp;&nbsp;&nbsp;<a href="/book/fiction/?id={{fiction.fiction_id}}&f_url={{fiction.new_url}}">{{fiction.new_content}}</a></p>
                                <a href="/update/fiction/?f_url={{fiction.fiction_real_url}}&f_name={{fiction.fiction_name}}" class="btn btn-primary btn-xs pull-right" role="button">更新</a>
                            </div>
                            <br>
                            <hr>
                            {{fiction.fiction_comment}}...
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="box_con">
                <div id="list">
                    <dl >
                        <dt>《{{fiction_name}}》最新章节</dt>
                        {% for item in fiction_lst[-9:] %}
                        <dd><a href="/book/fiction/?id={{item.fiction_id}}&f_url={{item.fiction_lst_url}}">{{item.fiction_lst_name}}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            
            <div class="box_con">
                <div id="list">
                    <dl >
                        <dt>《{{fiction_name}}》章节目录</dt>
                        {% for item in fiction_lst %}
                        <dd><a href="/book/fiction/?id={{item.fiction_id}}&f_url={{item.fiction_lst_url}}">{{item.fiction_lst_name}}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>

        </div>

        <!-- row end -->
    </div>
</div>

{{super()}}
{% endblock%}
